@import url(//db.onlinewebfonts.com/c/11d6740b4b9fa37c5cb1c5dbae8b716c?family=Neutra+Text);

@font-face {font-family: "Neutra Text"; src: url("//db.onlinewebfonts.com/t/11d6740b4b9fa37c5cb1c5dbae8b716c.eot"); src: url("//db.onlinewebfonts.com/t/11d6740b4b9fa37c5cb1c5dbae8b716c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/11d6740b4b9fa37c5cb1c5dbae8b716c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/11d6740b4b9fa37c5cb1c5dbae8b716c.woff") format("woff"), url("//db.onlinewebfonts.com/t/11d6740b4b9fa37c5cb1c5dbae8b716c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/11d6740b4b9fa37c5cb1c5dbae8b716c.svg#Neutra Text") format("svg"); }

* {
    margin:0px;
    padding:0px;
    list-style: none;
    text-decoration-color: none;
    border: none;
    outline: none;
    background: transparent;
    font-family: Neutra Text;
}

/*****HEADER****/
.header {
    display: flex;
    font-size: 25px;  
    padding: 10px;
    justify-content: center;
    align-items: flex-end;
    color: #323330;
}

img {
    width: 100px;
    height: auto;
    margin: 0px 10px;
}

/****CHRONOMETER CONTAINER****/
.chrono {
    display: flex;
    justify-content: center;
}

.counter {
    display: flex; 
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 10px 10px 10px;
    height: 90px;
    width: 110px;
    margin: 20px 0px 30px 0px;
    background-color:  #F0DB4F;
    border-radius: 5px;
    font-size: 40px;
    color: #323330;   
}

/******CHRONOMETER BUTTONS*****/
.chronometerButtons {
    display: flex;
    justify-content: center;
}

.startButton {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 110px;
    height: 90px;
    padding: 5px;
    margin: 5px 20px 5px 20px;
    background-color:  #F0DB4F;
    border-radius: 5px;
    font-size: larger;
    color: #323330;
    box-shadow: 2px 2px 3px 0px #323330;
}

.resetButton {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 110px;
    height: 90px;
    padding: 5px;
    margin: 5px 20px 5px 20px;
    background-color:  #F0DB4F;
    border-radius: 5px;
    font-size: larger;
    color: #323330;
    box-shadow: 2px 2px 3px 0px #323330;
}

.recButton {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 110px;
    height: 90px;
    padding: 5px;
    margin: 5px 20px 5px 20px;
    background-color:  #F0DB4F;
    border-radius: 5px;
    font-size: larger;
    color: #323330;
    box-shadow: 2px 2px 3px 0px #323330;
}


/********HOVER BUTTONS******/
button:hover {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 110px;
    height: 90px;
    padding: 5px;
    margin: 5px 20px 5px 20px;
    background-color: #323330;
    border-radius: 5px;
    font-size: larger;
    color: #F0DB4F;
    box-shadow: 2px 2px 3px 0px  #F0DB4F;
}


/*****RECORDED TIMES*******/
.recordedTimes {
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.recorded_Times__title {
    display: flex;
    position: absolute;
    margin-right: 280px;
    font-size: large;  
    padding: 10px 0px 10px 0px;
    color: #323330;
}

.timesList {
    display: flex;
    flex-direction: column;
    font-size: large;      
    margin-top: 10px;
    color: #323330;
}

footer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #323330;
    color:  #F0DB4F; 
    height: 35px;
}

/*******RESPONSIVE*****************/

@media only screen and (max-width: 500px) {
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 9px;  
        margin-top: 15px;
        padding: 5px;
        color: #323330;
    }
    
    img {
        width: 100px;
        height: auto;
        margin: 0px 0px 10px 0px;
    }

    .title {
        margin: 5px; 
    }

    .counter {
        display: flex; 
        align-items: left;
        height: 90px;
        width: 110px;
        padding: 10px 10px 10px 10px;
        background-color:  #F0DB4F;
        border-radius: 5px;
        font-size: 40px;
        color: #323330;   
    }

    .chronometerButtons {
       display: flex;
       flex-direction: column;
       align-items: center
       
    }

    .startButton {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 110px;
        height: 40px;
    }

    .resetButton {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 110px;
        height: 40px;

    }

    .recButton {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 110px;
        height: 40px;
    }

    button:hover {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 110px;
        height: 40px;
        padding: 5px;
        margin: 5px 20px 5px 20px;
        background-color: #323330;
        border-radius: 5px;
        font-size: larger;
        color: #F0DB4F;
        box-shadow: 2px 2px 3px 0px  #F0DB4F;
    }

    .recordedTimes {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .recorded_Times__title {
        display: flex;
        position: relative;
        margin-top: 10px;
        margin-right: 0px;
    }    
}




